<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
        <title>Mirabeau room safari</title>
    </head>
    <body>
        <main>
            <header class="PageHeader">
                <a href="/" class="PageTitle" aria-label="Home">
                    <h1>Mirabeau room safari</h1>
                </a>
            </header>
            <section class="RoomList">
                <% rooms && rooms.forEach(room => { %>
                    <a
                        href="/room/<%= room.room_name %>"
                        class="RoomListItem <%= room.measurements.occupancy ? 'RoomListItem--is-occupied' : '' %>"
                        aria-label="Navigate to <%= room.room_name %>"
                    >
                        <h2 class="RoomListItem__title"><%= room.room_name %></h2>
                        <div class="RoomListItem__data">
                            <h3>Ambient Light</h3>
                            <span><%= Math.floor((room.measurements.ambient_light / 100)) %> lux</span>
                        </div>
                        <div class="RoomListItem__data">
                            <h3>Barometric pressure</h3>
                            <span><%= room.measurements.bapLevel %></span>
                        </div>
                        <div class="RoomListItem__data">
                            <h3>CO2</h3>
                            <span><%= room.measurements.co2 %></span>
                        </div>
                        <div class="RoomListItem__data">
                            <h3>Humidity</h3>
                            <span><%= room.measurements.humidity %></span>
                        </div>
                        <div class="RoomListItem__data">
                            <h3>Noise levels</h3>
                            <span><%= Math.floor((room.measurements.mic_level / 100)) %> decibel</span>
                        </div>
                        <div class="RoomListItem__data">
                            <h3>Is occupied</h3>
                            <span><%= room.measurements.occupancy ? 'Yes' : 'No' %></span>
                        </div>
                        <div class="RoomListItem__data">
                            <h3>Temperature</h3>
                            <span><%= Math.floor((room.measurements.temperature / 1000)) %> degrees</span>
                        </div>
                        <div class="RoomListItem__data">
                            <h3>Comparable countries</h3>
                            <div class="CountryList">
                                <% room.countryFlags.forEach(countryFlag => { %>
                                    <%- countryFlag %>
                                <% }) %>
                            </div>
                        </div>
                    </a>
                <% }) %>
            </section>
        </main>
        <% include ../partials/serviceWorkerScript %>
    </body>
</html>