<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
        <title>Mirabeau room: <%= room.room_name %></title>
    </head>
    <body>
        <main>
            <header class="PageHeader">
                <a href="/" class="PageTitle" aria-label="Home">
                    <h1>Mirabeau room safari</h1>
                </a>
                <h2 class="PageSubTitle">
                    <%= room.room_name %>
                </h2>
            </header>
            <section class="MeasurementsSection">
                <h2 class="MeasurementsSection__title">Measurements</h2>
                <dl class="MeasurementsList">
                    <dt class="MeasurementsList__title">Ambient Light</dt>
                    <dd><%= Math.floor((room.measurements.ambient_light / 100)) %> lux</dd>
                    <dt class="MeasurementsList__title">Barometric pressure</dt>
                    <dd><%= room.measurements.bapLevel %></dd>
                    <dt class="MeasurementsList__title">CO2</dt>
                    <dd><%= room.measurements.co2 %></dd>
                    <dt class="MeasurementsList__title">Humidity</dt>
                    <dd><%= room.measurements.humidity %></dd>
                    <dt class="MeasurementsList__title">Noise levels</dt>
                    <dd><%= Math.floor((room.measurements.mic_level / 100)) %> decibel</dd>
                    <dt class="MeasurementsList__title">Is occupied</dt>
                    <dd><%= room.measurements.occupancy ? 'Yes' : 'No' %></dd>
                    <dt class="MeasurementsList__title">Temperature</dt>
                    <dd><%= Math.floor((room.measurements.temperature / 1000)) %> degrees</dd>
                </dl>
            </section>
            <section class="CountriesSection">
                <h2 class="CountriesSection__title">Countries that match in environmental conditions with their national animal alongst it</h2>
                <ul class="CountriesSectionList">
                    <% matches && matches.forEach((match, i) => { %>
                        <% if (match.imageUrl && match.shape) { %>
                            <li class="CountriesSectionListItem">
                                <a
                                    href="#country-modal-<%= match.country %>"
                                    aria-label="Open modal for <%= match.country %>"
                                    class="OpenModalButton"
                                >
                                    <img
                                        src="<%= match.imageUrl %>"
                                        class="CountriesSectionListItem__image"
                                        alt="The national animal of <%= match.country %>, the <%= match.animalName %>"
                                        style="clip-path: url('#<%= match.shapeUrl %>');"
                                    >
                                    <h3 class="CountriesSectionListItem__title"><%= match.country %></h3>
                                    <p class="CountriesSectionListItem__content"><%= match.animalName %></p>
                                </a>
                                <div class="Modal CountriesSectionModal" id="country-modal-<%= match.country %>">
                                    <div class="Modal__window">
                                        <% include ../partials/modalHeader %>
                                        <section class="Modal__content">
                                            <h3 class="Modal__title"><%= match.country %></h3>
                                            <img
                                                src="<%= match.imageUrl %>"
                                                class="CountriesSectionModal__image"
                                                alt="The national animal of <%= match.country %>, the <%= match.animalName %>"
                                            >
                                            <p>The national animal of <%= match.country %> is <%= match.animalName %>.</p>
                                        </section>
                                    </div>
                                </div>
                            </li>
                        <% } %>
                    <% }) %>
                </ul>
            </section>
        </main>
        <% matches && matches.forEach((match, i) => { %>
            <%- match.shape %>
        <% }) %>
        <% include ../partials/serviceWorkerScript %>
        <script src="../../../scripts/room.js"></script>
    </body>
</html>