<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
        <title>Mirabeau room: <%= room.room_name %></title>
    </head>
    <body>
        <main>
            <header class="PageHeader">
                <a href="/" class="PageTitle">
                    <h1>Mirabeau Rooms</h1>
                </a>
                <h2 class="PageSubTitle">
                    <%= room.room_name %>
                </h2>
            </header>
            <section class="MeasurementsSection">
                <h2>Measurements</h2>
                <dl class="MeasurementsList">
                    <dt class="MeasurementsList__title">Ambient Light</dt>
                    <dd><%= room.measurements.ambient_light %></dd>
                    <dt class="MeasurementsList__title">Barometric pressure</dt>
                    <dd><%= room.measurements.bapLevel %></dd>
                    <dt class="MeasurementsList__title">CO2</dt>
                    <dd><%= room.measurements.co2 %></dd>
                    <dt class="MeasurementsList__title">Humidity</dt>
                    <dd><%= room.measurements.humidity %></dd>
                    <dt class="MeasurementsList__title">Noise levels</dt>
                    <dd><%= Math.floor((room.measurements.mic_level / 100)) %> decibel</dd>
                    <dt class="MeasurementsList__title">Is occupied</dt>
                    <dd><%= room.measurements.occupancy ? 'Yes' : 'No' %></dd>
                    <dt class="MeasurementsList__title">Temperature</dt>
                    <dd><%= Math.floor((room.measurements.temperature / 1000)) %> degrees</dd>
                </dl>
            </section>
            <section class="CountriesSection">
                <h2>Countries that match in environmental conditions with their national animal alongst it</h2>
                <ul class="CountriesSectionList">
                    <% matches && matches.forEach(match => { %>
                        <% if (match.imageUrl) { %>
                            <li class="CountriesSectionListItem">
                                <img src="<%= match.imageUrl %>" class="CountriesSectionListItem__image" alt="<%= match.country %>">
                                <h3><%= match.country %></h3>
                                <span><%= match.animalName %></span>
                            </li>
                        <% } %>
                    <% }) %>
                </ul>
            </section>
        </main>
    </body>
</html>